body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 300px;
    background: #111;
    color: #eee;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #333;
}

#sidebar h2 {
    margin-top: 0;
}

#search {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

#event-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#event-list li {
    background: #222;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

#event-list li:hover {
    background: #333;
}

#map {
    flex-grow: 1;
}
